.box-new-flashcard{
    width: 100%;
    margin: auto;
    
}

.flashcard{
    background-color: rgba(255, 255, 255, .08);
    padding: 20px;
}

.flashcard-box-item{
    text-align: start;
}

.flashcard p{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: start;

}

.flashcard-facil{

    border-left: 20px solid #1DAB1A;

}

.flashcard-medio{

    border-left: 20px solid #E8910E;

}   
.btn-limpar{
    padding: 10px;
    background-color: #000000 ;
    border: none;
    border: 1px solid #58fcd5;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
   }   
{% comment %}
.flashcard-dificil{

    border-left: 20px solid #FE0000;

}

.flashcard-categoria{
    background-color: var(--dark-color);
    display: inline;
    padding: 10px;
}

.resposta-flashcard{
    background-color: rgba(255, 255, 255, .08);
    border-top: 1px solid rgba(255, 255, 255, .06);
    padding: 20px;
    display: none;
}

 .icone-exit{
    float: right;
    font-size: 25px;
    color: orangered;
} {% endcomment %}