{% extends "base.html" %}
{% load static %}

{% block 'cabecalho' %}
    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'flashcard/css/novo_flashcard.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/botoes.css' %}" rel="stylesheet">
    <a href="{% url 'logout' %}" target='_self' rel='nofollow'style="color: #FFF">Sair</a>

{% endblock 'cabecalho' %}

{% block 'conteudo' %}

    <div class="container">
        <br>
        <br>
        <div class="row">

            <div class="col-md">
                
                <div class="box-form">
                    <form action="{% url 'enviapedido' %}" method="POST"> {% csrf_token %}
                        <h3>Novo Pedido de Prece</h3>
                        {% if messages %}
                            <br>
                            {% for message in messages %}
                                <section class="alert {{message.tags}}">
                                    {{message}}
                                </section>
                            {% endfor %}
                        {% endif %}
                        <br>
                        <label>Nome do Acolhido</label>
                        <input type="text" class="form-control" placeholder="nome do acolhido" name="acolhido">
                        <br>
                        <label>Motivo</label>
                        <textarea class="form-control" name="motivo"></textarea>
                        <br>
                        <div class="row">
                           
                                <div class="col-md">
                                    <label for="">Encarnado ou Desencarnado?</label>
                                    <select class="form-select" name="estado">
                                        {% for estado in estados %}
                                                <option value="{{estado.0}}">{{estado.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md">

                                </div>
                            
                        </div>
                        <br>
                        <input type="submit" value="Enviar" class="btn-cadastro">
                        <br>
                        <br>
                        <br>
                    </form>
                </div>

            </div>
            <div class="col-md">
                <form action="{% url "enviapedido" %}" method="GET">
                    <div class="row">
                        <div class="col-md">
                            <label for="">Estado do Acolhido</label>
                            <select name="estado" id="" class="form-select">
                                <option value="">Todos</option>
                                {% for estado in estados %}
                                    <option value="{{estado.0}}">{{estado.1}}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="col-md">
                            <br>
                            <input type="submit" style="width: 50%" value="Limpar " class="btn-limpar">
                        </div>
                        <div class="col-md">
                            <br>
                            <input type="submit" style="width: 50%" value="Filtrar" class="btn-cadastro">
                        </div>
                    </div>

                </form>

                <br>
                <br>
                
                     <div class="box-new-flashcard">
                        <div class="pedidoprece"> 
                            {% for pedido in pedidospreces %}
                            {% comment %} <a href=""><i class='icone-exit bx bx-x-circle'></i></a>
                            <br> 
                                <br>
                                {% endcomment %}
                                <div class="flashcard-box-item">
                                    <p class="pedidoprece-item">{{pedido.nome_acolhido}}</p>
                                </div>
                            {% endfor %} 
                        </div> 
                    </div>
                    <br>
                    <br>
              

            </div>
        </div>
    </div>
    
{% endblock 'conteudo' %}